.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.contant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 25%;
    background-color:rgba(90, 21, 21, 0.636);
    width: 50%;
    text-align: center;
    padding-top: 50px;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
